:root {
  --background-color: #282c34;
  --text-color: white;
  --link-color: #61dafb;
  --secondary-background-color: #45e44d;
  --secondary-text-color: #bfbfbf;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #007acc;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #282c34;
    --text-color: white;
    --link-color: #61dafb;
  }
}

body {
  background-color: var(--background-color);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-link {
  color: var(--link-color);
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.btn-primary {
  background-color: var(--text-color);
  color: var(--background-color);
}

.mr-2 {
  margin-right: 10px;
}